@charset "UTF-8";

#common_area {
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    height: calc(100vh - 100px);
}

#content_area {
    box-sizing: border-box;
    width: 100%;
    height: calc(100vh - 100px);
    padding: 5px;
    overflow: auto;
}

